Source: libslp-sensor
Section: libs
Priority: extra
Maintainer: Jonghoon Han <jonghoon.han@samsung.com>, Juhyun Kim <jh8212.kim@samsung.com>, Taesoo Jun <steve.jun@samsung.com> 
Build-Depends: debhelper (>= 5), autotools-dev, libsf-common-dev, libslp-setting-dev, libglib2.0-dev
Standards-Version: 0.1.0
Homepage: N/A

Package: libslp-sensor-dev
XB-Public-Package: yes
Architecture: any
Depends: libslp-sensor-0 (= ${Source-Version})
Description: Sensor framework client library
 Sensor framework client library.

Package: libslp-sensor-0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsf-common-0
Description: Sensor framework client library
 Sensor framework client library.

Package: libslp-sensor-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libslp-sensor-0(= ${Source-Version})
Description:Sensor framework client library(unstripped)
 Easy Sensor framework client library for SLP(not recommended)
